@use 'reset.scss';
@use 'style.scss';

.options-body{
    opacity: 0;
    transform: translate(0px, -50px);
    transition: all 1s ease 0s;
}
.battle{
    display: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.content__main{
    //display: none;
}
.container {
    max-width: 990px;
    margin: 0 auto;
}
.moon{
    display: flex;
    position: relative;
    flex: 0 1 auto;
    height: 150px;
    z-index: -1;
    &::before, &::after{
        content: '';
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 24%;
        width: 10px;
        height: 10px;
        background-color: #FF0000;
        border-radius: 50%;
    }
    &-half{
        width: 194px;
        height: 195px;
        border-radius: 50%;
        background-color: #000000;
    }
    .half-1{
        position: relative;
        bottom: 25px;
    }
    &:last-child .half-2{
        position: absolute;
        right: 35%;
        bottom: 150px / 100px * 8px;
        background-color: #FFECAE;
    }
    .half-2{
        position: absolute;
        left: 35%;
        width: 160px;
        aspect-ratio: 1;
        bottom: 150px / 100px * 14px;
        background-color: #FFECAE;
    }
    &:last-child{
        transform: scaleX(-1);
    }
    &__dot{
        position: absolute;
        bottom: 70%;
        left: 12.5%;
        width: 10px;
        height: 10px;
        background-color: #FF0000;
        border-radius: 50%;
        &:nth-child(2){
            bottom: 63%;
            left: 25%;
        }
    }
}
@media(max-width: 540px){
    .moon:last-child{
        position: absolute;
        right: 0;
    }
    .title{
        position: absolute;
        padding: 0px 65px;
    }
    .moon{
        width: 154px;
        height: 155px;
    }
    .half-2{
        width: 140px;
        top: -49px;
        aspect-ratio: 1;
    }
    .navigation-buttons{
        flex-direction: column;
        align-items: center;
    }
}
.title-moons {
		&__row {
            display: flex;
            position: relative;
            flex: 0 1 auto;
		}
}
.title{
    justify-self: flex-end;
}
.title p{
    font-size: 34px;
    letter-spacing: 10px;
    margin: 13px 0px 0px 0px;
    line-height: 1.4;
    text-align: center;
    font-weight: 300;
}

.birds-standing{
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.bird-stand{
    display: flex;
    flex: 1 1 50%;
    flex-direction: column-reverse;
    &:last-child{
        position: absolute;
        right: 0;
        transform: scaleX(-1);
    }
}
.branch{
    position: relative;
    right: 188px;
    bottom: 56px;
}
.bird{
    width: 129px;
    height: 144px;
    margin: 0px 0px 0px 20px;
    transition: all 1s ease 0s;
    & img{
        width: 100%;
        height: 100%;
    }
}

.options {
    margin: 91px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    @media(min-width: 540px){
        margin: 41px 0px 0px 0px;
    }
    &__row {
        display: flex;
        justify-content: space-around;
    }

    &__option {
        position: relative;
        display: block;
        z-index: 2;
        width: 230px;
        min-height: 230px;
        flex-shrink: 1;
        border: 6px solid #000000;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child{
            transform: scaleX(-1);
        }
        & input[type="radio"]{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            background-color: #FFFFFF;
            &:checked::before{
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #666666;
                vertical-align: middle;
                margin-right: 0;
            }
        }
    }

    &__photo {
        width: 141px;
        height: 153px;
        pointer-events: none;
        & img{
            width: 100%;
            height: 100%;
        }
    }
}
.navigation-buttons{
    display: flex;
    justify-content: space-between;
    margin: 55px 0;
}
.return__main-page, .continue{
    flex: 0 1 50%;
    font-weight: 300;
    border-radius: 50px;
    padding: 4px;
    font-size: 36px;
    text-transform: lowercase;
    transition: all 0.6s ease 0s;
}
.return__main-page{
    background-color: #FFFFFF;
    margin: 0px 0px 15px 0px;
    & a{
        color: #000000;
    }
    &:hover{
        background-color: #000000;
        & a{
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
    &:active{
        background-color: #FFFFFF;
        & a{
            color: #000000;
        }
        transition: all 0.1s ease 0s;
    }
    @media(min-width: 540px){
        margin: 0 auto;
    }
}
.continue{
    background-color: #000000;
    color: #FFFFFF;
    letter-spacing: 3px;
    justify-self: center;
    display: none;
    &:hover{
        background-color: #FFFFFF;
        color: #000000;
        text-decoration: underline;
    }
    &:active{
        background-color: #000000;
        color: #FFFFFF;
        text-decoration: underline;
        transition: all 0.1s ease 0s;
    }
    @media(min-width: 540px){
        margin: 0px 0px 0px 30px;
    }
}
.options__background-color{
    background-color: #666666;
}
.show-continue{
    display: block;
}
.load{
    &-options-website{
        opacity: 1;
        transform: translate(0,0);
    }
}

//! BATTLE!

$background_big_width: 564px;
$background_big_height: 494px;

$background_small_width: 449px;
$background_small_height: 390px;

$background__caves_width: 771px;
$background__caves_height: 497px;

$battle__item_width: 310px;

.battle {
    //display: block;
    position: relative;
    &__background {
        &__row {
        }
        &_trees {
            flex: 0 0 auto;
        }
        
        &_caves {
            position: absolute;
            top: 75%;
            width: 100%;
            z-index: 2;
            &__row {

            }
        }
    }
    
    
    
    &__items {
        flex: 1 1 auto;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 3;
        transition: all 1.7s ease 0.2s;
    }
    
    &__item {
        position: relative;
        width: $battle__item_width;
        aspect-ratio: 1;
        &:first-child{
            right: 225px;
        }
        &:last-child{
            left: 252px;
            transform: scaleX(-1);
        }
        & img{
        width: 100%;
        height: 100%;
        }
    }
}
@keyframes fighting-animation-first-child {
    0%{
        left: -225px;
    }
    100%{
        left: 34vw;
    }
}
@keyframes fighting-animation-last-child {
    0%{
        left: 252px;
    }
    100%{
        left: -34vw;
    }
}

.fighting-animation{
    .battle__item:first-child{
        animation: fighting-animation-first-child
                    1.7s
                    1
                    normal
                    0.2s
                    forwards;
                }
    .battle__item:last-child{
        animation: fighting-animation-last-child
                    1.7s
                    1
                    normal
                    0.2s
                    forwards;
    }
}
.background_trees {
    
    &__row {
        position: relative;
        /*display: flex;
        justify-content: space-between;
        flex: 1 0 100%;*/
    }
}

.background {

    &_big {
        /*position: relative;
        z-index: 2;*/
        width: $background_big_width;
        height: $background_big_height;
        & img{
        width: 100%;
        height: 100%;
        }
    }
    
    &_small {
        position: relative;
        bottom: 25px;
        &:first-child{
            z-index: -1;
            left: 376px;
        }
        &:last-child{
            right: 508px;
            z-index: -2;
        }
        width: $background_small_width;
        height: $background_small_height;
        & img{
        width: 100%;
        height: 100%;
        }
    }

    &__layers {
        &_front{
            display: flex;
            justify-content: space-between;
        }
        &_back{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
    /*
        display: flex;
        justify-content: space-between;
        width: $background_big_width + $background_small_width;

        &:last-child{
        transform: scaleX(-1);
        position: relative;
        right: $background_small_width;
    }
   */
    }

    &__caves {
        position: relative;
        width: $background__caves_width;
        height: $background__caves_height;
        flex: 0 0 auto;
        & img{
            width: 100%;
            height: 100%;
        }
        &:first-child{
            right: 112px;
        }
        &:last-child{
            position: absolute;
            //left: 112px;
            right: -112px;
            transform: scaleX(-1);
        }
    }
}
.background_caves {
    &__row {
        display: flex;
        justify-content: space-between;
    }
}
.items__row{
    display: flex;
    justify-content: space-between;
}
